.navbar {
    background-color: #1e1e1e;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    animation: slideIn 1s ease-in-out forwards;
    opacity: 0;
}

.container {
    padding-top: 20px;
}

.logo {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #223a39, 0 0 10px #00fff2;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.05);
    color: #61a069;
}


@keyframes slideIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}